/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body{
    background: gray;
}
.titulo{
    color: brown;
    padding-left: 9%;
}
.card{
    padding-left: 8%;
    background: gray;
}
.imgnavbar{
    padding-top: 15%;
    width:  80px;
    height: 80px;
}
.favorites{
    font-size: 120%;
}