/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.titulo{
    color: brown;
}
.imgnavbar{
    padding-top: 15%;
    width:  80px;
    height: 80px;
}
.favorites{
    font-size: 120%;
}